@{ 
    List<Category> categories = new List<Category>();
    using (ECommerceContext eCommerceContext = new ECommerceContext()) //vt bağlantısı yapıldı.
    {
        categories = eCommerceContext.Categories.ToList(); //vt den tüm kategorileri aldık.

    } //using kullanımı ile komut kullanılmadığında garbage collector ile atılır.
}
Menü Test

<p>
    @{
        foreach (Category category in categories)
        {
            <span><a href="@Url.Action("Index","Category",new { id = category.Id})">@category.Name</a></span><br />
        }
    }
</p>
